*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    height: 80px;
    background: #333333;
    position: relative;
    

}
.menu ul{
    float: right;
    margin-right: 300px;
}
.mobile{
    display: none;
}
.logo{
    color:white;
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    padding-left: 100px;
}
.menu ul li{
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}
.active, .menu ul li:hover{
    cursor: pointer;
    background-color: #777777;
}
#check{
    display: none;
}
.checkbtn{
    float: right;
    line-height: 90px;
    font-size: 20px;
    color: white;
    margin-right: 50px;
    display: none;
}
@media screen and (max-width:858px){
    .checkbtn{
        display: block;
    }
    /* *{
        overflow: hidden;
    } */
    header .menu ul li{
        display: block;
    }
    header .menu ul{
        position: absolute;
        width: 50%;
        height: 656px;
        top: 80px;
        text-align: center;
        left: -100%;
        transition: .5s;
        z-index: 1;
    }
    #check:checked ~ ul{
        left: 0;
        background-color: #555555;
    }
    .logo{
        padding-left: 10px;
    }
    .login{
        margin-right: -50px;
    }
    .srch{
        display: none;
    }
    #search{
        display: none;
    }
    .khoi2{
        display: none;
    }
    .shop
    {
        position: absolute;
        margin-left: 200px;
        }
     .login{
    position: absolute;
    margin-left: 240px;
    }
    .khoi1{
       display: none;
    }
    .text{
        display: none;
    }
}
#search{
    position: absolute;
    float: left;
    right: 0;
    margin-top: 26px;
    padding: 8px;
    border-radius: 30px;
    margin-right: 150px;
    background-color: #000033;
    color: white;
    padding-left: 30px;
    width: 20px;
    transition: .5s;
    border: none;
    outline: none;
}
.srch{
    margin-top: 7px;
    float: right;
    color: white;
    background-color:  #333333;
    margin-right: 200px;
}
#search:hover{
width: 200px;
}
.cust{
    font-size: 20px;
    color:white;
    position: absolute;
    padding: 18px;
    margin: 7px 0 0 5px;
    border-radius: 40px;
    background-color: black;
}
.login{
    float: right;
    margin-right: -150px;
    margin-top: 35px;
    color: white;
    font-size: 22px;
    transition: .5s;
}
.login .fas{
    color: white;
}
.shop{
    float: right;
    margin-right: -110px;
    margin-top: 35px;
    color: white;
    font-size: 22px;
}
.shop .fas{
    color: white;
}

.cul:hover{
color: blue;
}
.pr-hov:hover .phu{
    display: block;
}
.sv-hov:hover .phu1{
    display: block;
}
.phu{
    position: absolute;
    width: 300px;
    margin-top: 10px;
    height: 400px;
    background: linear-gradient(to right, #AAAAAA, #333333);
    border-radius: 4px;
    display: none;
    transition: .5s;
    margin-right: 20px;
    z-index: 2;
}
.phu1{
    position: absolute;
    width: 300px;
    margin-top: 10px;
    height: 400px;
    background: linear-gradient(to right, #AAAAAA, #333333);
    border-radius: 4px;
    display: none;
    transition: .5s;
    margin-right: 20px;
    z-index: 2;
}
#hi{
    display: block;
    text-align: center;
}
#hi:hover{
    background: linear-gradient(to right, #DDDDDD, #777777);
}
#hi i{
    color: #BBBBBB;
    transition: .5s;
}
#hi:hover i{
    margin-right: -30px;
}
.phu li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.phu1 li a{
    color: white;
    text-decoration: none;
}
#err{
    color: red;
}
/*body{
    background-repeat: no-repeat;
    background-size: contain;
}*/
.loginnn{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
     purple, blue);
    position: absolute;
}
.tt{
    border-radius: 5px;
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    text-align: center;
}
.tt h2{
    padding-top: 20px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
input{
    border: none;
    outline: none;
}
.tt input[type="text"]{
    margin-top: 40px;
    width: 80%;
    border-bottom:2px solid black ;
    padding: 10px;
    padding-left: 25px;
}
.tt input[type="password"]{
    margin-top: 60px;
    width: 80%;
    border-bottom:2px solid black ;
    padding: 10px;
    padding-left: 25px;
}
input[type="submit"]{
    padding: 7px;
    width: 80%;
    background: linear-gradient(to right,
     purple, blue);
    margin-top: 40px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    transition: .5s;
}
input[type="submit"]:hover{
    background: linear-gradient(to right,
     blue, purple);
    cursor: pointer;
    letter-spacing: 3px;
}
.tt a{
    float: right;
    text-decoration: none;
    color: #666666;
    font-size: 16px;
}
.tt a:hover{
    color: blue;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pp{
    margin-top: 20px;
}#ic{
    margin-top: 10px;
    padding: 0 10px;
}
#ic:first-child{
    color: blue;
}
#ic:last-child{
    color: red;
}
